# CODEOWNERS
# See https://docs.github.com/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owner for the entire repository.
* @yukihana-project/core

# GitHub configuration
/.github/ @yukihana-project/core

# Source code
/src/ @yukihana-project/core

# Yukihana
/src/Yukihana/ yukihana-project/core

# YKConfig
/src/Yukihana.BuildConfig/ yukihana-project/core

# Documentation
*.md @yukihana-project/core

# Repository metadata
/LICENSE* @yukihana-project/core
/NOTICE @yukihana-project/core
/.editorconfig @yukihana-project/core
/.gitignore @yukihana-project/core
